body {
    background-size: cover;
    background-attachment: fixed;
    background-image: url(../source/bg-22.gif);

    padding: 0;
    margin: 0;
}

div {
    margin: 10px;
    padding: 10px;
    background-color: rgba(3, 8, 40, 0.13);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    margin: 0;
    color: rgb(153, 152, 152);
}

#header {
    padding: 20px;
    background: rgba(3, 8, 40, 0.247);
    color: rgb(233, 233, 233);
}

h1 {
    color: rgba(245, 222, 179, 0);
    text-align: center;
    font-size: 35px;
}

h2 {
    color: rgb(221 220 229);
    text-decoration: underline;
    margin-bottom: 5px;
}

h2 > span {
    opacity: 0;
    transition: 0.3s;
    color: rgb(221 220 229);
}

.friend-block:hover span {
    opacity: 1;
}

p {
    font-size: 17px;
}

a {
    color: black;
}

#back {
    background: none; 
    margin: 0;
    padding: 3px;
}

.button {
    background-color: rgba(26, 29, 53, 0.534);
    border: none;
    text-align: center;
    font-size: 14px;
    padding: 5px 10px;
    width: 100px;
    transition: all 0.5s;
    cursor: pointer;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00AB';
    position: absolute;
    opacity: 0;
    top: 0;
    left: -5px;
    transition: 0.5s;
  }

  .button:hover {
    background-color: rgb(26, 30, 53);
  }
  
  .button:hover span {
    padding-left: 15px;
  }
  
  .button:hover span:after {
    opacity: 1;
    left: -2px;
  }

.last {
    margin-right: 0 !important;
    margin-bottom: 0 !important;
}

.content {
    background: none;
    width: 70%;
    margin: 30px auto 30px auto;
    padding: 30px;
    display: block;
}

.friend-block {
    border: 4px solid rgb(34 40 86 / 75%);
    margin-bottom: 30px;
    padding: 15px;
}

.content > div > div > div {
    background: none;
    display: inline-block;
    color: white;
}

.sub {
    background: none;
    padding: 0;
}

.img {
    float: left;
}

.img > img {
    width: 200px;
    border: 4px solid white;
    border-radius: 180px;
}

.text {
    float: left;
    width: calc(100% - 248px);
    margin-top: 15px;
}


@media screen and (max-width: 650px) {
    .img {
        width: 100%;
        text-align: center;
        padding: 0;
    }

    .text {
        width: 100%;
        padding: 0;
    }

    h2, p {
        padding: 0 15px 0 15px;
        text-align: justify;
    }
}

@media screen and (max-width: 400px) {
    .content {
        width: calc(100% - 30px);
        padding: 30px 15px;
        margin-bottom: 0;
    }
}

@media screen and (max-width: 300px) {
    .content {
        width: 100%;
        padding: 30px 0 0 0;
    }
}