body {
    background-size: cover;
    background-image: url(../source/bg_profile.gif);
}

header > div {
    /* position: fixed; */
    width: calc(100% - 26);
    height: 23px;
    padding: 10px;
    background: rgba(34, 34, 34, 0.904); /* rgba(107, 34, 156, 0.438) */
}

header nav input[type=button] {
    height: 23px;
    padding: 0px 15px;
    border: 0;
    border-radius: 10px;
    background: white;

    margin-right: 10px;

    color: black;
    
    cursor: pointer;
    transition-duration: 0.4s;
}

header nav input[type=button].last {
    position: absolute;
    right: 0;

    margin-right: 15px;
}

header nav input[type=button]:hover {
    background: rgba(253, 253, 253, 0.701);
}

header nav input[type=button]:active {
    background: rgba(255, 255, 255, 0.218);
}

main > div.upset {
    height: 70%;
    width: 100%;
    background: rgba(0, 0, 0, 0.450);
}

main > div.content {
    position: absolute;
    bottom: 15px;
    width: calc(100% - 30px);
    height: 40%;
    padding: 15px;
    background: rgba(34, 34, 34, 0.980);
    text-align: center;
    border-top: 4px solid white;
}

/* #profile {
    text-align: center;
} */

#pfp img {
    width: 200px;
    border: 4px solid white;
    border-radius: 180px;

    margin-top: -100px;
    margin-bottom: 15px;
}

#user-name {
    font-size: 20px;
    font-weight: 500;
}

#info {
    display: inline-block;
    height: 60px;
    padding: 10px;
    margin: 10px auto;

    background: rgb(51, 51, 51);
}

.ifo {
    display: inline-block;
    width: 275px;
    height: 100%;
    padding: 0;
    margin: 0;

    float: left;
}

#info1 {
    margin-right: 10px;
    border-right: 2px solid gray;
}

#info2 {
    border-right: 2px solid gray;
    padding: 0 10px;
}

#info3 {
    margin-left: 10px;
}

#info h2 {
    font-size: 15px;
    margin-bottom: 4px;
}

#info p {
    font-size: 13px;
    color: rgb(218, 218, 218);
    margin: 0
}

footer {    
    width: 100%;
    position: fixed;
    bottom: 0;
}

footer > div {
    height: 15px;
    padding: 5px;
    background: rgb(243, 243, 243);

    text-align: center;
}

footer > div p {
    font-size: 14px;
    color: rgb(17, 17, 17);
}

@media screen and (max-width: 920px) {
    #info2 {
        display: none;
    }
}

@media screen and (max-width: 630px) {
    main > div.content {
        height: inherit;
    }

    #info {
        width: 275px;
        height: inherit;
    }
     
    .ifo {
        float: left;
        height: inherit;
    }

    #info1, #info2 {
        display: inline-block;
        border-right: none;
        border-bottom: 2px solid gray;
        padding: 0 0 10 0px;
        margin-bottom: 10px;
    }

    #info3 {
        margin: 0;
    }
}

@media screen and (max-width: 413px) {
    header div {
        padding: 0;
        text-align: left;
    }

    header nav input[type=button] {
        position: inherit !important;
        width: 25%;
        margin: 0 !important;
        float: left;
        border-radius: 0;
        border-right: 1px solid gray;
    }

    header nav input[type=button].last {
        border-right: none;
    }

    main > div.content {
        padding: 10px 0;
        width: 100%;
    }

    #pfp img {
        width: 170px;
    }

    .ifo {
        width: 100%; 
    }

    #info {
        width: calc(100% - 20px);
        height: inherit;
    }

    #info2 {
        display: none;
    }
}