body {
    background-size: cover;
    background-image: url(../source/bg-22.gif);
}

header > div#small {
    display: none;
}

header > div {
    z-index: 100;
    position: fixed;
    width: calc(100%);
    height: 30px;
    padding: 0px;
    background: rgba(34, 34, 34, 0); /* rgba(107, 34, 156, 0.438) */
}

header div#big nav input[type=button] {
    height: 30px;
    padding: 0px 20px;
    border: 0;
    background: rgba(255, 255, 255, 0);
    color: white;

    position: inherit !important;
    margin: 0 !important;
    float: left;
    border-radius: 0;
    /*border-right: 1px solid gray;*/
     
    cursor: pointer;
    transition-duration: 0.5s;
}

header div#big nav input[type=button].last {
    float: right;
}

header div#big nav input[type=button]:hover:not(header nav input[type=button].last){
    /*padding: 0 20px;*/
    background: rgba(255, 255, 255, 0.685);
    margin: 0;
}


header div#big nav input[type=button].last:hover {
    /*padding: 0 20px;*/
    background: rgba(255, 255, 255, 0.685);
    margin: 0 10px;
}

header div#big nav input[type=button]:active {
    background: rgba(255, 255, 255, 0.445);
}

header div#small img {
    padding: 5px;
    width: 30px;
    position: fixed;
    z-index: 1;
    cursor: pointer;
}

header div#small nav {
    background: #282828;
    padding-top: 40px;
    position: relative;
    top: 0px;
    transition-duration: 0.5s;
}

header div#small nav.occulted {
    position: relative;
    top: -240px;
}

header div#small nav input[type=button].first {
    border-top: 2px solid rgb(100, 100, 100);
}

header div#small nav input[type=button] {
    width: 100%;
    height: 40px;
    border: none;
    border-bottom: 2px solid rgb(100, 100, 100);
    background: white;
    color: black;
}

main > div.upset {
    display: none;
    height: 100%;
    width: 100%;
    background: rgba(22, 4, 56, 0.45);
}

main div.content {
    /*position: absolute;*/
    bottom: 15px;
    width: 990px;
    height: 310px;
    padding: 0px 50px 50px 50px;

    background: rgba(0, 1, 2, 76%);
    text-align: center;
    /*border: 4px solid white;*/
    margin-top: 100px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 15px;
    position: relative;
}

main div.centralizer {
    position: relative;
    width: 100%;
    height: 100%;
    /*background: #6C7A89;*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* #profile {
    text-align: center;
} */

#pfp img {
    width: 200px;
    border: 4px solid rgba(255, 255, 255, 0);
    border-radius: 180px;

    margin-top: -100px;
    margin-bottom: 15px;
}

#user-name {
    font-size: 20px;
    font-weight: 500;
}

.info-btn {
    position: relative;
    /*float: left;*/
    height: 144px;
    width: 95px;
    padding: 10px;
    margin: 20px auto 0 auto;
    border: none;
    /*position: relative;*/

    background: rgba(255, 255, 255, 0);
    font-size: 50px;
    font-weight: 100;
     
    cursor: pointer;
    transition-duration: 0.5s;
}

.info-btn:hover {
    background: rgba(255, 255, 255, 0.466);
}

#before-info {
    width: 100%;
    height: 100px;
    text-align: center;
}

#before-info > div {
    display: inline-block;
    height: 100px;
    width: 690px;
}

#info {
    position: relative;
    float: left;
    height: 120px;
    width: 476px;
    padding: 10px;
    margin: 20px auto 0 auto;
    border: 2px solid rgb(255, 255, 255);
    /*border-radius: 15px;*/

    background: rgba(255, 255, 255, 0);
}

.occult {
    display: none;
}

.ifo {
    float: left;
    width: 238px;
    height: 120px;
}

footer {    
    width: 100%;
    position: fixed;
    bottom: 0;
}

footer > div {
    height: 20px;
    padding: 5px;
    background: rgba(34, 34, 34, 0);

    text-align: center;
}

footer > div p {
    font-size: 14px;
    color: white;
}

@media screen and (max-width: 1000px) {
    main div.content {
        width: 700px;
    }
}

@media screen and (max-width: 800px) {
    main div.content {
        width: 500px;
        height: 380px;
        margin-top: 65px;
    }

    #before-info > div {
        width: 500;
    }

    .info-btn {
        margin-top: 20px;
        padding-top: 0;
        width: 250px;
        height: 70px;
        position: relative;
        left: 0;
    }

    #info {
        margin: 0 0 0 0;
        float: left;
        width: calc(100% - 24px);
    }
}

@media screen and (max-width: 600px) {
    header > div#big {
        display: none;
    }

    header > div#small {
        display: block;
    }

    #pfp {
        margin-top: 120px;
    }

    #profile {
        position: relative;
        top: -0;
    }

    main div.content {
        width: calc(100%);
        height: calc(100% + 0px);
        padding: 0 0 0 0;
        margin: 0;
        position: absolute;
        top: 0;
        border-radius: 0;
    }

    #before-info > div {
        width: 100%;
    }

    .info-btn {
        width: 47%;
        padding: 0 0 10px 0;
        margin: 10px 0 0 0;
        float: none !important;
        display: inline-block;
    }

    .info-btn:hover {
        background: rgba(245, 222, 179, 0);
    }

    .info-btn:active {
        background: rgba(255, 255, 255, 0.466);
    }


    #info {
        display: inline-block;
        margin: 0;
        float: none;
        padding: 5px;
        width: 240px;
        height: 240px;
    }

    /*#info1, #info2, #info3, #info4, #info5*/

    .ifo {
    }
}