@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
}

.center {
    float: left;
    width: 250px;
    margin: 0;
}

h1 {
    font-size: 23px;
}

p {
    margin-top: 0;
    margin-bottom: 3px;
}

a {
    margin-right: 5px;
}

.last-item {
    margin-right: 0;
}

.centralize {
    margin: 0 auto;
}